.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

button[type=submit] {
	width: 200px;
	align-self: center;
}

#img-upload{
    width: 100%;
    height: auto;
}

.grid-container{
	display: grid;
	grid-template-columns: 50% auto auto;
	padding: 10px;
}

.upload-image{
	margin-top: 40px;
}

.detail-input{
	width: 100%;
}

.btn-lend{
	width: 50%; 
	background-color: #343a40; 
	font-size: 18px;
}

.delete-button{
	padding: 30px;
}